body {
  font-family: "Open Sans", sans-serif;
}

img {
  height: 240px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

h1,
h3 {
  font-family: "Proza Libre", sans-serif;
}

label,
textarea {
  display: block;
  width: 100%;
}

input,
textarea {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 4px;
  margin-top: 10px;
  outline-color: rgb(86, 43, 129);
  padding-left: 5px;
}

label {
  margin-top: 20px;
  font-weight: bolder;
  font-family: "Proza Libre", sans-serif;
}

input {
  height: 30px;
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

i {
  font-size: x-large;
}

.entries-tab {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}

.entry-form-button {
  margin-left: auto;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 35px;
  width: 60px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #562b81;
  color: white;
}

.flex {
  display: flex;
  align-items: center;
}

.bg-color {
  background-color: #562b81;
  color: white;
}

.placeholder-img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.save-entry-button {
  width: 70px;
  height: 30px;
  background-color: rgb(86, 43, 129);
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  letter-spacing: 1px;
}

.jc-space {
  display: flex;
  justify-content: space-between;
}

.m-top {
  margin-top: 20px;
}

.spacing {
  margin-bottom: 20px;
}

.title-space {
  margin-bottom: -10px;
}

.entry-info {
  line-height: 2;
  margin: 0 auto;
}

.entry-info > h2 {
  margin: 0 auto;
}

.no-entries {
  text-align: center;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding-right: 0;
}

.fa-solid {
  color: rgb(86, 43, 129);
}

.delete-entry-button {
  background-color: inherit;
  border: 1px solid transparent;
  color: red;
  text-decoration: underline;
  padding-left: 0;
}

.visibility {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  img {
    height: 400px;
    width: 100%;
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    font-size: x-large;
  }

  .entries-tab {
    font-size: large;
    margin: 0 20px;
  }

  .m-top-0 {
    margin-top: -20px;
  }

  .m-bot {
    margin-bottom: 10px;
  }

  .spacing {
    margin-bottom: 50px;
  }

  .entry-info {
    margin: 0;
  }
}
